// html{
//     scroll-behavior: smooth;
// }


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    padding: auto;
}


#home {
    min-height: calc(100vh - 10vh);
}

footer {
    min-height: calc(100vh - 90vh);
}